html,
body,
#cover {
    height: 100%;
}

#cover {
    background: url('../images/mainBg.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover; /* chrome desteği için */
    -moz-background-size: cover; /* mozilla desteği için */
    -o-background-size: cover; /* opera desteği için */

}
.fixed-top {
    max-width: 1140px;
    margin: 20px auto; /* 20: yukarıdan ve aşağıdan margin yok. AUTO:sag ve sol ortalar */
}

h1 {
    margin-top: 17%;
    margin-bottom: 30px;
    font-family: 'Lobster', cursive;
    color: #ffffff;
    font-size: 40px;
}

h2 {
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 75px;
    font-weight: 700;
}

.btn-primary {
    background-color: #fed136;
    border-style: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 15px 50px;

}

.btn-primary:hover {
    background-color: #ffffff;
    color: #fed136;
}

a.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: white !important;
    transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
}

a.nav-link:hover {
    color: #fed136 !important;
}

/* Section Services */

#services {
    padding: 120px 0;
}

.services-top h3, .portfolio-top h3, .aboutUs-top h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
}
.services-top p, .portfolio-top p, .aboutUs-top p {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    color: #777;
    margin-bottom: 70px;
}

.item-circle {
    border: 3px solid #fed136;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 200px;
}

.services-content i {
    color: #fed136;
    line-height: 100px; /* dairenin içinde alttan ve üstten boşluk verdik*/
}

.services-content h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 24px;
}
.services-content p {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: 777;
}

#portfolio {
    background-color: #f7f7f7;
    padding-top: 120px;
    padding-bottom: 70px;
    padding-right: 250px;
    padding-left: 250px;
}

.card{
    border-style: none;
}

.portfolio-content .row {
    margin-bottom: 50px;
}

.portfolio-content .card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.portfolio-content .card-text {
    font-family: 'Lobster', cursive;
    font-size: 14px;
}

#aboutUs {
    padding-top: 120px;
    padding-bottom: 30px;
}

.aboutUs-content .row {
    margin-bottom: 90px;
}

.aboutUs-content h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.aboutUs-content p {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: 777;
}

.aboutUs-content{
    position: relative; /* bulunduğu alan göz önüne alınır */
} 

 /* dik çizgi */

.aboutUs-content:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 4px;
    background-color: #f1f1f1;
    left: 50%; /* çizgiyi ortaladık*/
    margin-left: -2px; /* 4px çizgi kalınlığını bu şekilde ortaladık*/
}

.about-circle {
    position: relative;
    text-align: center;
}

/* daire */
.about-circle:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 176px;
    height: 176px;
    background-color: #fed136 ;
    border-radius: 170px;
    border: 7px solid #f1f1f1;
    left: 50%; 
    margin-left: -91.5px;  
}

.yellow-text{
    position: relative;
    z-index: 1;
    padding-top: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
}